
button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00aaa0;
    color: white;
    border: none;
    margin-right: 10px;
}

button {
    cursor: pointer;
    background-color: #008b81;
}
/*LANGING PAGE*/
header h3 {
    text-align: center;
    color: rgb(103, 121, 121);
}
header h1 {
    font-size: 5em;
    width: 75%;
    margin: 0;
    padding: 0;
    font-size: 125px;
    color: #00aaa0;
    line-height: 1.2;
    margin-top: 10%;
}
header h1 span:nth-of-type(1) {
    color: black; /*to*/
}
  
header h1 span:nth-of-type(2) {
    color: #d55b3e; /*next*/
}
#nav-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    margin-top: 12%;
}
nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav a{
    display:block;
    padding: 5px 25px;
    margin-bottom: 10px;
    border-radius: 40px;
    box-shadow: 0px 1px 5px #d55b3e;
    background-color: antiquewhite;
}
nav a:hover{
    background-color: #d55b3e
}

header #nav-bar ul a{
    margin-bottom: 10%;
    text-decoration: none;
    font-size: 50px;
    color: #333;

}
header #slogan{
    text-align: center;
    margin-top: 200px;
    font-size: 20px;
}
  
/*STEP 1: PLAN A TRIP*/
#plan{
    text-align: center;
    display: block;
    margin-bottom: 30%;
    margin-top: 12%;
}
#plan h3{
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
    color: rgb(136, 136, 136);
    font-size: 30px;
}
#plan h1{
    font-size: 60px;
}
/*STEP 1 form*/
.trip-info{
    justify-content: space-between;
    padding:  20px;
}
.trip-info label {
    font-size: 30px;
    margin-bottom: 10px;
}
#name-the-trip,
#location,
#num-of-people {
  display: inline-block;
  width: 45%;
  margin-right: 5%;
}

#num-of-people {
  margin-right: 0;
}
.trip-info input[type="text"],
.trip-info input[type="number"],
.trip-info select {
    font-size: 20px;
    padding: 8px;
    border-width: 7px;
    border-radius: 40px;
    border: 2px solid #00aaa0;
    margin-bottom: 20px;
    width: 300px;
}

.trip-info select option {
    font-size: 20px;
}
#continue-btn,
#save-btn {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00aaa0;
    color: white;
    border: none;
    margin-right: 10px;
}

#continue-btn:hover,
#save-btn:hover {
    cursor: pointer;
    background-color: #008b81;
}

/*STEP 2 "Trip Dates"*/
#step-2{
    text-align: center;
    margin-bottom: 120px;
}
#step-2 h3{
    text-align: left;
    margin-left: 30px;
    color: rgb(136, 136, 136);
    font-size: 30px;
}
#step-2 h1{
    font-size: 60px;
}
/*STEP 2 form*/
.trip-dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.trip-dates label {
    font-size: 30px;
    margin-bottom: 10px;
}
.trip-dates input[type="date"], 
.trip-dates input[type="number"]{
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #00aaa0;
    margin-bottom: 20px;
    width: 300px;
}
.trip-dates input[type="number"]{
    border-radius: 50%;
    border-width: 6px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

/*STEP 3 "The Crew" */
#step-3{
    text-align: center;
    margin-bottom: 120px;
}
#step-3 h3{
    text-align: left;
    margin-left: 30px;
    color: rgb(136, 136, 136);
    font-size: 30px;
}
#step-3 h1{
    font-size: 60px;
}
fieldset{
    max-width:500px;
    margin-left: 31%;
}
/*STEP 3 fieldset*/
legend{
    font-size: 25px;
}
.the-crew {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.the-crew label {
    font-size: 30px;
    margin-bottom: 10px;
}
.the-crew input[type="tel"], 
.the-crew input[type="text"],
.the-crew input[type="email"]{
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #00aaa0;
    margin-bottom: 20px;
    width: 300px;
}
#continue-btn-3, #save-btn-3 {
    justify-content: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00aaa0;
    color: white;
    border: none;
    margin-right: 10px;
    margin-top: 30px;
}
#continue-btn-3:hover,
#save-btn-3:hover {
    cursor: pointer;
    background-color: #008b81;
}
/*STEP 4 "Transport details"*/
#step-4{
    text-align: center;
    margin-bottom: 120px;
}
#step-4 h3{
    text-align: left;
    margin-left: 30px;
    color: rgb(136, 136, 136);
    font-size: 30px;
}
#step-4 h1{
    font-size: 60px;
}
/*STEP 4 form*/

.transport-going label{
    font-size: 30px;
    margin-bottom: 10px;
}
.transport-going [type="button"]{
    float: left;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #00aaa0;
    color: rgb(255, 253, 253);
    border: none;
    border-radius: 50%;
    border-width: 6px;
    width: 100px;
    height: 100px;
}
.booked-going{
    margin-bottom: 70px;
}
.booked-going button{
    justify-content: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00aaa0;
    color: white;
    border: none;
    margin-right: 10px;
}
.booked-going p{
    font-size: 25px;
}
.transport-return [type="button"]{
    float: left;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #00aaa0;
    color: rgb(255, 253, 253);
    border: none;
    border-radius: 50%;
    border-width: 6px;
    width: 100px;
    height: 100px;
}
.transport-return{
    margin-bottom: 70px;
}
.booked-return{
    margin-left: 40%;
    margin-top: -90px;
    margin-bottom: 40px;
}
.booked-return button{
    justify-content: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00aaa0;
    color: white;
    border: none;

}
.booked-return p{
    font-size: 25px;
}
#continue-btn-4, #save-btn-4{
    justify-content: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00aaa0;
    color: white;
    border: none;
    margin-right: 10px;
}
#continue-btn-4:hover,
#save-btn-4:hover {
    cursor: pointer;
    background-color: #008b81;
}
/*STEP 5 "Budget"*/
#step-5{
    text-align: center;
    margin-bottom: 120px;
}
#step-5 h3{
    text-align: left;
    margin-left: 30px;
    color: rgb(136, 136, 136);
    font-size: 30px;
}
#step-5 h1{
    font-size: 50px;
}
#step-5 label{
    font-size: 20px;
}
#step-5 input{
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #00aaa0;
    margin-bottom: 20px;
    width: 300px;
}

/*STEP 5 form*/
.cost-breakdown {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.cost-breakdown label {
    font-size: 30px;
}
.cost-breakdown input[type="number"]{
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #00aaa0;
    margin-bottom: 20px;
    width: 300px;
}
#con-5, #sav-5 {
    justify-content: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00aaa0;
    color: white;
    border: none;
    margin-right: 10px;
}
#continue-btn-5:hover,
#save-btn-5:hover {
    cursor: pointer;
    background-color: #008b81;
}
/*STEP 6 "Accomodation"*/
#step-6{
    text-align: center;
    margin-bottom: 120px;
}
#step-6 h3{
    text-align: left;
    margin-left: 30px;
    color: rgb(136, 136, 136);
    font-size: 30px;
}
#step-6 h1{
    font-size: 50px;
}
#step-6 label{
    font-size: 20px;
}
#step-6 input{
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #00aaa0;
    margin-bottom: 20px;
    width: 300px;
}
/*STEP 6 form*/
.accomodation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    list-style: none;
}
.accomodation label {
    font-size: 30px;
}
.accomodation ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.accomodation li{
    width: 335px;
    background-color: #f9f9f9;
    box-shadow: 5px 5px lightblue;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: brightness(10px);
}
.accomodation input[type="text"]{
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #00aaa0;
    margin-bottom: 20px;
    width: 300px;
}
#continue-btn-6, #save-btn-6 {
    justify-content: center;
 
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00aaa0;
    color: white;
    border: none;
    margin-right: 10px;
}
#continue-btn-6:hover,
#save-btn-6:hover {
    cursor: pointer;
    background-color: #008b81;
}
/*STEP 7 "packing-list"*/
#step-7{
    text-align: center;
    margin-bottom: 120px;
}
#step-7 h3{
    text-align: left;
    margin-left: 30px;
    color: rgb(136, 136, 136);
    font-size: 30px;
}
#step-7 h1{
    font-size: 50px;
}
#step-7 label{
    font-size: 20px;
}
#step-7 input{
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #00aaa0;
    margin-bottom: 20px;
    width: 300px;
}
/*STEP 7 form*/
.packing-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.packing-list label {
    font-size: 30px;
}
.packing-list input[type="text"]{
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #00aaa0;
    margin-bottom: 20px;
    width: 300px;
}
#continue-btn-7, #save-btn-7 {
    justify-content: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00aaa0;
    color: white;
    border: none;
    margin-right: 10px;
}
#continue-btn-7:hover,
#save-btn-7:hover {
    cursor: pointer;
    background-color: #008b81;
}
/*STEP 8 "Itinerary"*/
#step-8{
    text-align: center;
    margin-bottom: 120px;
}
#step-8 h3{
    text-align: left;
    margin-left: 30px;
    color: rgb(136, 136, 136);
    font-size: 30px;
}
#step-8 h1{
    font-size: 50px;
}
#step-8 label{
    font-size: 20px;
}
#step-8 input{
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #00aaa0;
    margin-bottom: 20px;
    width: 300px;
}
/*STEP 8 form*/
.itinerary {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.itinerary label {
    font-size: 30px;
}
.itinerary input[type="text"]{
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #00aaa0;
    margin-bottom: 20px;
    width: 300px;
}
#continue-btn-8, #save-btn-8 {
    justify-content: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #00aaa0;
    color: white;
    border: none;
    margin-right: 10px;
}
#continue-btn-8:hover,
#save-btn-8:hover {
    cursor: pointer;
    background-color: #008b81;
}